extends ../layouts
block title
	title Unofficial WhatsApp API | Login

block content
	div(class='row justify-content-center')
		div(class='col-md-8')
			div(class='card mt-4')
				div(class='card-header text-center')
					h4(class='text-primary mb-0') Login
				div(class='card-body')
					if session.alert
						- const app_alert = session.alert;
						div(class='alert alert-'+app_alert.type+' alert-dismissible fade show' role='alert')
							span= app_alert.content
							button(type='button' class='btn-close' data-bs-dismiss='alert')
						- session.alert = null;
					form(method='POST' action='/auth/login' autocomplete='off')
						div(class='mb-3')
							label Username
							input(type='text' name='username' class='form-control')
						div(class='mb-3')
							label Password
							input(type='password' name='password' class='form-control')
						div(class='mb-3 d-grid gap-2')
							button(type='submit' class='btn btn-primary') Login
							a(href='/auth/register' class='btn btn-dark') Register